Django==4.2.30
django-environ==0.13.0
djangorestframework==3.16.0
psycopg2-binary==2.9.12
cuid==0.4
django-charid-field==0.5
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
redis==7.0.1
stripe==15.2.0
celery==5.4.0
django-celery-beat==2.7.0